// // DECLARATIONS

/* utilisation des mixins et variables mais pas des imbrications sass */

// VARIABLES
$primary-color: white;
$secondary-color: #F6F6F6;
$highlight-color: #9356DC;
//MIXINS
@mixin cards {
    background-color: $primary-color;
    border-radius: 15px;
}
@mixin centered-flex {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}
@mixin logo-typo {
    font-family: Shrikhand;
    font-size: 30px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* GENERAL */
* {
    background-color: $primary-color;
    box-sizing: border-box;
    max-width: 420px;
}

body {
    width: 100%;
}

.main-container {
    @include centered-flex;
    flex-direction: column;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1 {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    color: black;
}

// HEADER
header {
    width: 100%;
    @include centered-flex;
    flex-direction: column;
    padding: 0 0;
}

/* HEADER LOGO */
.header-logo-div {
    width: 100%;
    @include centered-flex;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
    height: 63px;
}

.header-logo-link {
    color: var(--Black, #101010);
    @include logo-typo;
}

.logo-img-header {
    width: 162px;
    height: 44px;
}


 /* LOCATION */



.location {
    width: 100%;
    height: 50px;
}

.location,
.location-name {
    @include centered-flex;
    background-color: #EAEAEA;
    gap: 16px;
}

.location-name {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.fa-solid.fa-location-dot {
    background-color: #EAEAEA;
    color: #353535;
}

/* RESERVATION-EXPLORATION */
.reservation-exploration,
.reservation-exploration h1,
.reservation-exploration p {
    text-align: center;
    background-color: $secondary-color;
}
.reservation-exploration {
    width: 100%;
    @include centered-flex;
    flex-direction: column;
    padding: 30px 0px;
}

.pink-button {
    width: 66%;
    height: 50px;
    @include centered-flex;
    background: var(--Button-Gradient, linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%));
    border-radius: 25px;
    margin-top: 30px;
    color: $primary-color;
    border: none;
}

// main section
.main-sections {
    width: 100%;
}

/* FONCTIONNEMENT */
.fonctionnement-title {
    font-family: Roboto;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    color: black;
    margin-bottom: 25px;
}

.fonctionnement {
    margin-top: 60px;
    padding-right: 22px;
    padding-left: 22px;
}

.fonctionnement1,
.fonctionnement2,
.fonctionnement3 {
    display: flex;
    align-items: center;
    align-content: center;
    gap: 16px;
    box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
    border-radius: 20px;
    margin-bottom: 25px;
    height: 75px;
    background-color: $secondary-color;
}

.fonctionnement-card-content {
    margin-left: 40px;
    background-color: $secondary-color;
}

span {
    margin-left: 25px;
    background-color: $secondary-color;
}

.fa-store {
    color: $highlight-color;
}

fieldset{
    position:relative;
    border: none;
}

legend {
    position: absolute;
    top: 25px;
    left: -7px;
    width: 24px;
    height: 24px;
    word-break: break-all;
    background-color: $highlight-color;
    text-align: center;
    border-radius: 15px;
    color: white;
    font-family: Roboto;
    font-size: 14.182px;
    font-style: normal;
    font-weight: 500;
    @include centered-flex;
}

// SECTION RESTAURANT
.restaurant {
    width: 100%;
}

.restaurant-title {
    padding: 25px 0px 25px 22px;
}

.restaurant-title,
.restaurant-card-container {
    background-color: $secondary-color;
}

.restaurant-card-container {
    padding-bottom: 50px;
}

.restaurant-card:first-of-type + .restaurant-card {
    display: none;
}

#delice {
    margin-bottom: 0px;
}

.restaurant-card {
    border-radius: 15px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    padding-bottom: 10px;
    position: relative;
    // display: flex;
    // flex-direction: column;
}

.new-sticker {
    position: absolute;
    top: 20px;
    right: 20px;
    height: 30px;
    width: 80px;
    @include centered-flex;
    background-color: #99E2D0;
    color: #008766;
    border-radius: 5px;
}

.restaurant-card-img {
    height: 175px;
    width: 100%;
    border-radius: 15px 15px 0px 0px;
    object-fit: cover;
}

.card-content {
    display: flex;
    flex-direction: column;
    margin-left: 13px;
}

.card-subcontent {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

// HEART POSITION
.fa-heart {
    position: relative;
    bottom: 20px;
    font-size: 22px;
    right: 5px;
}

// FOOTER
footer {
    padding: 25px 35px;
    gap: 16px;
    background-color: #353535;
    width: 100%;
}

.footer-title {
    @include logo-typo;
    color: white;
    background-color: #353535;
}

.footer-links {
    background-color: #353535;    
    display: flex;
    flex-direction: column;
    gap: 7px;
}

.with-icon {
    padding-left: 13px;
    background-color: #353535;
}

.footer-link {
    color: white;
    background-color: #353535;
    width: 100%;
}

.footer-icon-div {

}

.fa-utensils,
.fa-handshake-angle {
    color: white;
    background-color: #353535;
}

//tablette
@media (min-width: 421px) and (max-width: 1024px){
    * {
    min-width: 421px;
    }

// TODO desktop version/tablette (same design)
// TODO mainly switch from columns to rows

/* note du brief creatif :
● L’ensemble du site devra être responsive sur mobile, tablette et desktop.
● Les pages devront passer la validation W3C en HTML et CSS sans erreur.
● Le site doit être parfaitement compatible avec les dernières versions desktop de
Chrome et Firefox.
*/

}

//desktop
@media (min-width: 1025px) {
    
}

// TODO see if need a minwidth 1441 querie for white margin on the sides