/* utilisation des mixins et variables mais pas des imbrications sass */
/* GENERAL */
* {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  max-width: 767px;
}

body {
  width: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  color: black;
}

h2 {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
}

.decouvrez {
  color: var(--Grey, #353535);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
}

.overlap-div {
  position: relative;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 0 0;
  position: relative;
}

.fa-arrow-left {
  position: absolute;
  right: 92.5%;
  bottom: 20px;
  font-size: 22px;
  color: black;
}

/* HEADER LOGO */
.header-logo-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  height: 63px;
}

.header-logo-link {
  color: var(--Black, #101010);
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 400;
  background-color: white;
}

.logo-img-header {
  width: 162px;
  height: 44px;
}

/* LOCATION */
.location {
  width: 100%;
  height: 50px;
}

.location,
.location-name {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #EAEAEA;
  gap: 16px;
}

.location-name {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

.fa-solid.fa-location-dot {
  background-color: #EAEAEA;
  color: #353535;
}

/* RESERVATION-EXPLORATION */
.reservation-exploration,
.reservation-exploration h1,
.reservation-exploration p {
  text-align: center;
  background-color: #F6F6F6;
}

.reservation-exploration {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 30px 0px;
}

.pink-button {
  min-width: 40%;
  width: 66%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: var(--Button-Gradient, linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%));
  border-radius: 25px;
  margin-top: 30px;
  color: rgb(255, 255, 255);
  border: none;
  /* Button typo */
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: var(--White, #FFF);
}

.main-sections {
  width: 100%;
}

/* FONCTIONNEMENT */
.fonctionnement-title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  color: black;
  margin-bottom: 25px;
}

.fonctionnement {
  margin-top: 60px;
  padding-right: 22px;
  padding-left: 22px;
}

.fonctionnement1,
.fonctionnement2,
.fonctionnement3 {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 16px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 25px;
  height: 75px;
  background-color: #F6F6F6;
}

.fonctionnement-card-content {
  margin-left: 40px;
  background-color: #F6F6F6;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

span {
  margin-left: 25px;
  background-color: #F6F6F6;
}

.fa-store {
  color: #9356DC;
}

fieldset {
  position: relative;
  border: none;
}

legend {
  position: absolute;
  top: 25px;
  left: -7px;
  width: 24px;
  height: 24px;
  word-break: break-all;
  background-color: #9356DC;
  text-align: center;
  border-radius: 15px;
  color: white;
  font-family: Roboto;
  font-size: 14.182px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.restaurant {
  width: 100%;
}

.restaurant-title {
  padding: 25px 0px 25px 22px;
}

.restaurant-title,
.restaurant-card-container {
  background-color: #F6F6F6;
}

.restaurant-card-container {
  padding-bottom: 50px;
}

.restaurant-card {
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.new-sticker {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}

.restaurant-card-img {
  height: 175px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding-left: 13px;
  height: 25px;
  margin-top: 15px;
}

.card-subcontent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #000;
  font-family: Roboto;
  font-size: 17px;
  font-weight: lighter;
}

.homepage-heart {
  position: relative;
  font-size: 22px;
  left: 90%;
  bottom: 20px;
  font-weight: 100;
  background-color: white;
}

.secondary-page-main {
  position: relative;
  width: 100%;
  background-color: #F6F6F6;
}

.restaurant-title-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
}

i.secondary-page-heart {
  border: none;
  height: 22px;
  width: 22px;
  font-size: 22px;
  background-color: #F6F6F6;
}

.top-image {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.restaurant-title-div {
  background-color: #F6F6F6;
}

.restaurant-dish-title {
  color: var(--Black, #101010);
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 400;
}

.restaurant-dish-title {
  font-size: 28px;
  background-color: #F6F6F6;
}

.restaurant-dish-list {
  margin-top: 60px;
  padding-right: 22px;
  padding-left: 22px;
  background-color: #F6F6F6;
  overflow: hidden;
}

.dish-cards {
  background-color: #F6F6F6;
}

.fonctionnement-card-content.sec {
  margin-left: 10px;
  overflow: hidden;
}

.dish-category {
  margin-top: 25px;
  margin-bottom: 12px;
  background-color: #F6F6F6;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 100;
}

.green-bar {
  height: 5px;
  width: 20%;
  background-color: #99E2D0;
  margin-bottom: 25px;
}

.restaurant-dish {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #F6F6F6;
  position: relative;
  top: -25px;
}

.dish1,
.dish2,
.dish3 {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 16px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 25px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  overflow: hidden;
  position: relative;
}

.dish-card-content,
.dish-name,
.dish-card-subcontent,
.dish-price {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.dish-card-content {
  position: relative;
  overflow: hidden;
}

.dish-name {
  color: #353535;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
}

.dish-spec {
  color: #000;
  font-family: Roboto;
  font-size: 15.043px;
  font-weight: 300;
}

.dish-card-subcontent {
  width: 70vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dish-price {
  color: #353535;
  text-align: center;
  font-family: Roboto;
  font-size: 15.043px;
  font-weight: 700;
  margin-right: 35px;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #F6F6F6;
  margin-top: 25px;
}

.pink-button.secondary-button {
  margin-bottom: 35px;
  margin-top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50%;
}

footer {
  padding: 25px 35px;
  gap: 16px;
  background-color: #353535;
  width: 100%;
  color: var(--White, #FFF);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0px;
}

.footer-title {
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 400;
  color: white;
  background-color: #353535;
}

.footer-links {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.with-icon {
  padding-left: 10px;
  background-color: #353535;
}

.footer-link {
  color: white;
  background-color: #353535;
}

.icon-div-footer {
  background-color: #353535;
}

.fa-utensils,
.fa-handshake-angle {
  color: white;
  background-color: #353535;
  width: 16px;
}

.fa-circle-check {
  color: rgb(255, 255, 255);
  font-size: 22px;
  z-index: 2;
  background-color: #99E2D0;
  height: 22px;
  width: 22px;
  margin-right: 20px;
}

@media (min-width: 768px) and (max-width: 2800px) {
  * {
    max-width: 2800px;
  }
  body {
    justify-content: center;
    margin: auto;
    width: 100%;
  }
  .header-logo-div {
    width: 100%;
    background-color: white;
  }
  .pink-button {
    width: 20%;
  }
  .fonctionnement-title {
    margin-left: 30px;
  }
  .fonctionnement-cards {
    display: flex;
    justify-content: space-evenly;
  }
  .fonctionnement1,
  .fonctionnement2,
  .fonctionnement3 {
    width: 30%;
  }
  .restaurant-title {
    padding-left: 50px;
  }
  .restaurant-card-container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .restaurant-card {
    width: 575px;
  }
  .secondary-page-main.main-container {
    background-color: white;
  }
  .main-sections.restaurant-dish {
    width: 80%;
    position: relative;
    top: 0px;
    margin-top: -25px;
  }
  .fonctionnement-cards.dish-cards {
    flex-direction: column;
  }
  .green-bar {
    width: 40px;
  }
  .secondary-button {
    max-width: 185px;
  }
  .dish-card-subcontent {
    width: 55vw;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer-links {
    flex-direction: row;
    margin-top: 15px;
  }
  .icon-div-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
#toggle-heart,
#toggle-heart2,
#toggle-heart3,
#toggle-heart4 {
  display: none;
}

.secondary-page-heart,
.homepage-heart {
  cursor: pointer;
}

#toggle-heart:checked + .homepage-heart,
#toggle-heart:checked + .secondary-page-heart,
#toggle-heart2:checked + .homepage-heart,
#toggle-heart2:checked + .secondary-page-heart,
#toggle-heart3:checked + .homepage-heart,
#toggle-heart3:checked + .secondary-page-heart,
#toggle-heart4:checked + .homepage-heart,
#toggle-heart4:checked + .secondary-page-heart {
  background-image: url(../Images_et_textes_Ohmyfood/Status=Liked.svg);
  transition: 0.2s;
}
#toggle-heart:checked + .homepage-heart:hover,
#toggle-heart:checked + .secondary-page-heart:hover,
#toggle-heart2:checked + .homepage-heart:hover,
#toggle-heart2:checked + .secondary-page-heart:hover,
#toggle-heart3:checked + .homepage-heart:hover,
#toggle-heart3:checked + .secondary-page-heart:hover,
#toggle-heart4:checked + .homepage-heart:hover,
#toggle-heart4:checked + .secondary-page-heart:hover {
  transform: scale(1.3);
}

#toggle-heart + .secondary-page-heart,
#toggle-heart + .homepage-heart,
#toggle-heart2 + .secondary-page-heart,
#toggle-heart2 + .homepage-heart,
#toggle-heart3 + .secondary-page-heart,
#toggle-heart3 + .homepage-heart,
#toggle-heart4 + .secondary-page-heart,
#toggle-heart4 + .homepage-heart {
  background-image: url(../Images_et_textes_Ohmyfood/Status=Default.svg);
}
#toggle-heart + .secondary-page-heart:hover,
#toggle-heart + .homepage-heart:hover,
#toggle-heart2 + .secondary-page-heart:hover,
#toggle-heart2 + .homepage-heart:hover,
#toggle-heart3 + .secondary-page-heart:hover,
#toggle-heart3 + .homepage-heart:hover,
#toggle-heart4 + .secondary-page-heart:hover,
#toggle-heart4 + .homepage-heart:hover {
  transform: scale(1.3);
}

i.homepage-heart {
  background-color: white;
}

.secondary-page-heart,
.homepage-heart {
  display: inline-block;
  height: 22px;
  width: 22px;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: contain;
}

label {
  background-color: white;
}

.card-content-index {
  z-index: 1;
  max-width: 160px;
}

svg,
i {
  z-index: 2;
}

.labelsecondary {
  background-color: #F6F6F6;
}

.card-animation-div {
  position: absolute;
  right: -100%;
  height: 100%;
  width: 100%;
  background: #99E2D0;
  opacity: 1;
  width: 0;
  background-image: url(../Images_et_textes_Ohmyfood/Select-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.dish1:hover .card-animation-div,
.dish2:hover .card-animation-div,
.dish3:hover .card-animation-div {
  right: 0;
  height: 120px;
  width: 20%;
  animation-name: cardanimation;
  transition-duration: 1s;
  z-index: 2;
}

.fa-circle-check {
  color: rgb(255, 255, 255);
  font-size: 22px;
  z-index: 2;
  background-color: #99E2D0;
  height: 22px;
  width: 22px;
  margin: 20px;
  margin-top: 50px;
}

.pink-button {
  transition: 0.2s;
}
.pink-button:hover {
  transform: scale(1.3);
  background: var(--Button-Gradient, linear-gradient(0deg, #FF79DA -11.44%, #9356DC 123.93%));
}

.fa-arrow-left {
  transition: 0.2s;
}
.fa-arrow-left:hover {
  rotate: 360deg;
  transform: scale(1.3);
}

/*# sourceMappingURL=style.css.map */
