@charset "UTF-8";
/* utilisation des mixins et variables mais pas des imbrications sass */
/* GENERAL */
* {
  background-color: rgb(255, 255, 255);
  box-sizing: border-box;
  max-width: 420px;
}

body {
  width: 100%;
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  color: black;
}

h2 {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
}

.decouvrez {
  color: var(--Grey, #353535);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
}

header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 0 0;
}

/* HEADER LOGO */
.header-logo-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  height: 63px;
}

.header-logo-link {
  color: var(--Black, #101010);
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 400;
}

.logo-img-header {
  width: 162px;
  height: 44px;
}

/* LOCATION */
.location {
  width: 100%;
  height: 50px;
}

.location,
.location-name {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #EAEAEA;
  gap: 16px;
}

.location-name {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

.fa-solid.fa-location-dot {
  background-color: #EAEAEA;
  color: #353535;
}

/* RESERVATION-EXPLORATION */
.reservation-exploration,
.reservation-exploration h1,
.reservation-exploration p {
  text-align: center;
  background-color: #F6F6F6;
}

.reservation-exploration {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 30px 0px;
}

.pink-button {
  width: 66%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: var(--Button-Gradient, linear-gradient(0deg, #9356DC -11.44%, #FF79DA 123.93%));
  border-radius: 25px;
  margin-top: 30px;
  color: rgb(255, 255, 255);
  border: none;
  /* Button typo */
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: var(--White, #FFF);
}

.main-sections {
  width: 100%;
}

/* FONCTIONNEMENT */
.fonctionnement-title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  color: black;
  margin-bottom: 25px;
}

.fonctionnement {
  margin-top: 60px;
  padding-right: 22px;
  padding-left: 22px;
}

.fonctionnement1,
.fonctionnement2,
.fonctionnement3 {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 16px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 25px;
  height: 75px;
  background-color: #F6F6F6;
}

.fonctionnement-card-content {
  margin-left: 40px;
  background-color: #F6F6F6;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

span {
  margin-left: 25px;
  background-color: #F6F6F6;
}

.fa-store {
  color: #9356DC;
}

fieldset {
  position: relative;
  border: none;
}

legend {
  position: absolute;
  top: 25px;
  left: -7px;
  width: 24px;
  height: 24px;
  word-break: break-all;
  background-color: #9356DC;
  text-align: center;
  border-radius: 15px;
  color: white;
  font-family: Roboto;
  font-size: 14.182px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.restaurant {
  width: 100%;
}

.restaurant-title {
  padding: 25px 0px 25px 22px;
}

.restaurant-title,
.restaurant-card-container {
  background-color: #F6F6F6;
}

.restaurant-card-container {
  padding-bottom: 50px;
}

.restaurant-card:first-of-type + .restaurant-card {
  display: none;
}

#delice {
  margin-bottom: 0px;
}

.restaurant-card {
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  position: relative;
}

.new-sticker {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #99E2D0;
  color: #008766;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}

.restaurant-card-img {
  height: 175px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  margin-left: 13px;
}

.card-subcontent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #000;
  font-family: Roboto;
  font-size: 17px;
  font-weight: lighter;
}

.homepage-heart {
  position: relative;
  bottom: 10px;
  font-size: 22px;
  right: 5px;
  font-weight: 100;
}

.secondary-page-main {
  position: relative;
  width: 100%;
  background-color: #F6F6F6;
}

.restaurant-title-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
}

i.secondary-page-heart {
  height: 22px;
  width: 22px;
  font-size: 22px;
  background-color: #F6F6F6;
}

.top-image {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.restaurant-title-div {
  background-color: #F6F6F6;
}

.restaurant-dish-title {
  color: var(--Black, #101010);
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 400;
}

.restaurant-dish-title {
  font-size: 28px;
  background-color: #F6F6F6;
}

.restaurant-dish-list {
  margin-top: 60px;
  padding-right: 22px;
  padding-left: 22px;
  background-color: #F6F6F6;
}

.dish-cards {
  background-color: #F6F6F6;
}

.dish-category {
  margin-top: 25px;
  margin-bottom: 12px;
  background-color: #F6F6F6;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 100;
}

.green-bar {
  height: 5px;
  width: 20%;
  background-color: #99E2D0;
  margin-bottom: 25px;
}

.restaurant-dish {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #F6F6F6;
  position: relative;
  bottom: 15px;
}

.dish1,
.dish2,
.dish3 {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 16px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 25px;
  height: 75px;
  background-color: rgb(255, 255, 255);
  width: 100%;
}

.dish-card-content,
.dish-name,
.dish-card-subcontent,
.dish-price {
  background-color: rgb(255, 255, 255);
}

.dish-card-content {
  display: flex;
  flex-direction: column;
  margin-right: -20px;
}

.dish-name {
  color: #353535;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
}

.dish-spec {
  color: #000;
  font-family: Roboto;
  font-size: 15.043px;
  font-weight: 300;
}

.dish-card-subcontent {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.dish-price {
  color: #353535;
  text-align: center;
  font-family: Roboto;
  font-size: 15.043px;
  font-weight: 700;
}

.pink-button.secondary-button {
  margin-bottom: 35px;
  margin-top: -5px;
}

footer {
  padding: 25px 35px;
  gap: 16px;
  background-color: #353535;
  width: 100%;
  color: var(--White, #FFF);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

.footer-title {
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 400;
  color: white;
  background-color: #353535;
}

.footer-links {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.with-icon {
  padding-left: 13px;
  background-color: #353535;
}

.footer-link {
  color: white;
  background-color: #353535;
  width: 100%;
}

.icon-div-footer {
  background-color: #353535;
}

.fa-utensils,
.fa-handshake-angle {
  color: white;
  background-color: #353535;
  width: 16px;
}

@media (min-width: 421px) and (max-width: 1024px) {
  * {
    min-width: 421px;
  }
  /* note du brief creatif :
  ● L’ensemble du site devra être responsive sur mobile, tablette et desktop.
  ● Les pages devront passer la validation W3C en HTML et CSS sans erreur.
  ● Le site doit être parfaitement compatible avec les dernières versions desktop de
  Chrome et Firefox.
  */
}

/*# sourceMappingURL=style.css.map */
