/* utilisation des mixins et variables mais pas des imbrications sass */
/* GENERAL */
* {
  box-sizing: border-box;
  text-overflow: ellipsis;
}

body {
  width: 100%;
  background-color: rgb(255, 255, 255);
}

.main-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
}

button {
  cursor: pointer;
}

a {
  text-decoration: none;
  cursor: pointer;
}

h1 {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  color: black;
}

h2 {
  color: #000;
  font-family: Roboto;
  font-size: 18px;
  font-weight: 700;
}

.decouvrez {
  color: var(--Grey, #353535);
  font-family: Roboto;
  font-size: 18px;
  font-weight: 300;
}

.overlap-div {
  position: relative;
}

.loader-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
  background-color: white;
  animation: loader-show 1.2s ease-in-out forwards;
  animation: loader-height 0s 1.2s linear forwards;
}

@keyframes loader-show {
  0% {
    visibility: visible;
    transform: scale(1);
  }
  100% {
    visibility: hidden;
    transform: scale(0);
  }
}
@keyframes loader-height {
  0% {
    height: 100vh;
  }
  100% {
    height: 0px;
  }
}
.loader {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid #050505;
  border-color: #000000 transparent #000000 transparent;
  animation: loader 1.2s linear infinite;
}

@keyframes loader {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.main-container,
footer {
  visibility: hidden;
  height: 0px;
  animation: afterLoader 1s forwards;
  animation-delay: 1s;
}

@keyframes afterLoader {
  0% {
    visibility: hidden;
    height: 0px;
  }
  100% {
    visibility: visible;
    height: 100%;
    top: 0;
  }
}
header {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 0 0;
  position: relative;
}

.fa-arrow-left {
  position: absolute;
  right: 92.5%;
  bottom: 20px;
  font-size: 22px;
  color: black;
}

/* HEADER LOGO */
.header-logo-div {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.15);
  height: 63px;
  background-color: white;
}

.header-logo-link {
  color: var(--Black, #101010);
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 400;
  background-color: white;
}

.logo-img-header {
  width: 162px;
  height: 44px;
}

/* LOCATION */
.location {
  width: 100%;
  height: 50px;
}

.location,
.location-name {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #eaeaea;
  gap: 16px;
}

.location-name {
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

.fa-solid.fa-location-dot {
  background-color: #eaeaea;
  color: #353535;
}

/* RESERVATION-EXPLORATION */
.reservation-exploration,
.reservation-exploration h1,
.reservation-exploration p {
  text-align: center;
  background-color: #f6f6f6;
}

.reservation-exploration {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  flex-direction: column;
  padding: 50px 0px;
}

.pink-button {
  min-width: 40%;
  width: 66%;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background: var(--Button-Gradient, linear-gradient(0deg, #9356dc -11.44%, #ff79da 123.93%));
  border-radius: 25px;
  margin-top: 30px;
  color: rgb(255, 255, 255);
  border: none;
  /* Shadow */
  box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
  /* Button typo */
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  color: var(--White, #fff);
}

.main-sections {
  width: 100%;
  background-color: #f6f6f6;
}

/* FONCTIONNEMENT */
.fonctionnement-title {
  font-family: Roboto;
  font-size: 24px;
  font-weight: 700;
  color: black;
  margin-bottom: 25px;
}

.fonctionnement {
  padding-right: 22px;
  padding-left: 22px;
  background-color: white;
  padding-top: 50px;
  padding-bottom: 50px;
}

.fonctionnement1,
.fonctionnement2,
.fonctionnement3 {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 16px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 25px;
  height: 75px;
  background-color: #f6f6f6;
}

.fonctionnement-card-content {
  margin-left: 40px;
  background-color: #f6f6f6;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
}

span {
  margin-left: 25px;
}

.fa-store {
  color: #9356dc;
}

fieldset {
  position: relative;
  border: none;
}

legend {
  position: absolute;
  top: 25px;
  left: -7px;
  width: 24px;
  height: 24px;
  word-break: break-all;
  background-color: #9356dc;
  text-align: center;
  border-radius: 15px;
  color: white;
  font-family: Roboto;
  font-size: 14.182px;
  font-weight: 500;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.restaurant {
  width: 100%;
}

.restaurant-title {
  padding: 25px 0px 25px 22px;
}

.restaurant-title,
.restaurant-card-container {
  background-color: #f6f6f6;
}

.restaurant-card {
  background-color: rgb(255, 255, 255);
  border-radius: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 50px;
  padding-bottom: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

.new-sticker {
  position: absolute;
  top: 20px;
  right: 20px;
  height: 30px;
  width: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #99e2d0;
  color: #008766;
  border-radius: 5px;
  font-family: Roboto;
  font-size: 14px;
  font-weight: 500;
}

.restaurant-card-img {
  height: 175px;
  width: 100%;
  border-radius: 15px 15px 0px 0px;
  object-fit: cover;
}

.card-content {
  display: flex;
  flex-direction: column;
  padding-left: 13px;
  height: 25px;
  margin-top: 15px;
}

.card-subcontent {
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: #000;
  font-family: Roboto;
  font-size: 17px;
  font-weight: lighter;
}

.homepage-heart {
  position: relative;
  font-size: 22px;
  left: 90%;
  bottom: 20px;
  font-weight: 100;
  background-color: white;
}

.entree-div,
.plats-div,
.desserts-div {
  background-color: #f6f6f6;
}

.dish-card-content,
.dish-name,
.dish-spec {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.entree-div {
  animation: fadeIn1 3000ms;
}

.plats-div {
  animation: fadeIn2 3000ms forwards;
  animation-delay: 1500ms;
  opacity: 0;
}

.desserts-div {
  animation: fadeIn3 3000ms forwards;
  animation-delay: 3s;
  opacity: 0;
}

/**** sec page animation ****/
@keyframes fadeIn1 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn2 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeIn3 {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/**** sec page animation ****/
.secondary-page-main {
  position: relative;
  width: 100%;
  background-color: #f6f6f6;
}

.restaurant-title-div {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  align-items: baseline;
  justify-content: space-between;
}

i.secondary-page-heart {
  border: none;
  height: 22px;
  width: 22px;
  font-size: 22px;
  background-color: #f6f6f6;
}

.top-image {
  height: 250px;
  width: 100%;
  object-fit: cover;
}

.restaurant-title-div {
  background-color: #f6f6f6;
}

.restaurant-dish-title {
  color: var(--Black, #101010);
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 400;
}

.restaurant-dish-title {
  font-size: 28px;
  background-color: #f6f6f6;
}

.restaurant-dish-list {
  margin-top: 60px;
  padding-right: 22px;
  padding-left: 22px;
  background-color: #f6f6f6;
  overflow: hidden;
}

.dish-cards {
  background-color: #f6f6f6;
}

.fonctionnement-card-content.sec {
  margin-left: 10px;
  overflow: hidden;
}

.dish-category {
  margin-top: 25px;
  margin-bottom: 12px;
  background-color: #f6f6f6;
  color: #000;
  font-family: Roboto;
  font-size: 16px;
  font-weight: 100;
}

.green-bar {
  height: 5px;
  width: 20%;
  background-color: #99e2d0;
  margin-bottom: 25px;
}

.restaurant-dish {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background-color: #f6f6f6;
  position: relative;
  top: -25px;
}

.dish1,
.dish2,
.dish3 {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 16px;
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
  border-radius: 20px;
  margin-bottom: 25px;
  height: 80px;
  background-color: rgb(255, 255, 255);
  width: 100%;
  overflow: hidden;
  position: relative;
}

.dish-card-content,
.dish-name,
.dish-card-subcontent {
  background-color: rgb(255, 255, 255);
  overflow: hidden;
}

.dish-card-content {
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.dish-name {
  color: #353535;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 700;
}

.dish-spec {
  color: #000;
  font-family: Roboto;
  font-size: 15.043px;
  font-weight: 300;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.dish-card-subcontent {
  width: 94vw;
  display: flex;
  justify-content: space-between;
  flex-wrap: nowrap;
}

.dish-price {
  color: #353535;
  text-align: center;
  font-family: Roboto;
  font-size: 15.043px;
  font-weight: 700;
  margin-right: 45px;
  visibility: visible;
}

.btn-container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  background-color: #f6f6f6;
  margin-top: 25px;
}

.pink-button.secondary-button {
  margin-bottom: 35px;
  margin-top: -5px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 50%;
}

footer {
  padding: 25px 35px;
  gap: 16px;
  background-color: #353535;
  width: 100%;
  color: var(--White, #fff);
  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  margin-top: 0px;
}

.footer-title {
  font-family: Shrikhand;
  font-size: 30px;
  font-weight: 400;
  color: white;
  background-color: #353535;
}

.footer-links {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.with-icon {
  padding-left: 10px;
  background-color: #353535;
}

.footer-link {
  color: white;
  background-color: #353535;
}

.icon-div-footer {
  background-color: #353535;
}

.fa-utensils,
.fa-handshake-angle {
  color: white;
  background-color: #353535;
  width: 16px;
}

.fa-circle-check {
  color: rgb(255, 255, 255);
  font-size: 22px;
  z-index: 2;
  background-color: #99e2d0;
  height: 22px;
  width: 22px;
  margin-right: 20px;
}

/****** desktop and tablette *******/
@media (min-width: 768px) {
  body {
    justify-content: center;
    margin: auto;
    width: 100%;
    min-width: 768px;
  }
  .header-logo-div {
    width: 100%;
    background-color: white;
  }
  .pink-button {
    width: 20%;
  }
  .fonctionnement,
  .restaurant-title {
    padding-left: 100px;
    padding-right: 100px;
  }
  .fonctionnement-cards {
    display: flex;
    justify-content: space-between;
  }
  .fonctionnement1,
  .fonctionnement2,
  .fonctionnement3 {
    width: 30%;
  }
  section.restaurant {
    min-width: 100%;
    background-color: #f6f6f6;
  }
  .restaurant-card-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }
  .restaurant-card {
    width: 39%;
  }
  .restaurant-title-div {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
    gap: 24px;
  }
  .secondary-page-main.main-container {
    background-color: white;
  }
  .main-sections.restaurant-dish {
    width: 80%;
    position: relative;
    top: 0px;
    margin-top: -25px;
  }
  .fonctionnement-cards.dish-cards {
    flex-direction: column;
  }
  .green-bar {
    width: 40px;
  }
  .secondary-button {
    max-width: 185px;
  }
  .dish-card-subcontent {
    width: calc(77vw - 45px);
    display: flex;
    flex-direction: row;
  }
  .dish-price {
    text-align: end;
    margin-right: 0px;
  }
  footer {
    display: flex;
    flex-direction: row-reverse;
  }
  .footer-links {
    flex-direction: row;
    margin-top: 15px;
  }
  .icon-div-footer {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
  }
}
#toggle-heart,
#toggle-heart2,
#toggle-heart3,
#toggle-heart4 {
  display: none;
}

.secondary-page-heart,
.homepage-heart {
  cursor: pointer;
}

#toggle-heart:checked + .homepage-heart,
#toggle-heart:checked + .secondary-page-heart,
#toggle-heart2:checked + .homepage-heart,
#toggle-heart2:checked + .secondary-page-heart,
#toggle-heart3:checked + .homepage-heart,
#toggle-heart3:checked + .secondary-page-heart,
#toggle-heart4:checked + .homepage-heart,
#toggle-heart4:checked + .secondary-page-heart {
  background-image: url(../Assets/Status=Liked.svg);
  transition-duration: 1s;
}
#toggle-heart:checked + .homepage-heart:hover,
#toggle-heart:checked + .secondary-page-heart:hover,
#toggle-heart2:checked + .homepage-heart:hover,
#toggle-heart2:checked + .secondary-page-heart:hover,
#toggle-heart3:checked + .homepage-heart:hover,
#toggle-heart3:checked + .secondary-page-heart:hover,
#toggle-heart4:checked + .homepage-heart:hover,
#toggle-heart4:checked + .secondary-page-heart:hover {
  transform: scale(1.3);
  transition: all 1s;
}

#toggle-heart + .secondary-page-heart,
#toggle-heart + .homepage-heart,
#toggle-heart2 + .secondary-page-heart,
#toggle-heart2 + .homepage-heart,
#toggle-heart3 + .secondary-page-heart,
#toggle-heart3 + .homepage-heart,
#toggle-heart4 + .secondary-page-heart,
#toggle-heart4 + .homepage-heart {
  background-image: url(../Assets/Status=Default.svg);
}
#toggle-heart + .secondary-page-heart:hover,
#toggle-heart + .homepage-heart:hover,
#toggle-heart2 + .secondary-page-heart:hover,
#toggle-heart2 + .homepage-heart:hover,
#toggle-heart3 + .secondary-page-heart:hover,
#toggle-heart3 + .homepage-heart:hover,
#toggle-heart4 + .secondary-page-heart:hover,
#toggle-heart4 + .homepage-heart:hover {
  transform: scale(1.3);
  transition: all 1s;
}

i.homepage-heart {
  background-color: white;
}

.secondary-page-heart,
.homepage-heart {
  display: inline-block;
  height: 22px;
  width: 22px;
  background-repeat: no-repeat;
  object-fit: cover;
  background-size: contain;
}

label {
  background-color: white;
}

.card-content-index {
  z-index: 1;
  max-width: 160px;
  display: flex;
  flex-wrap: nowrap;
}

svg,
i {
  z-index: 2;
}

.labelsecondary {
  background-color: #f6f6f6;
}

.card-animation-div {
  position: absolute;
  right: -100%;
  height: 100%;
  width: 100%;
  background: #99e2d0;
  opacity: 1;
  width: 0;
  background-image: url(../Assets/Select-button.svg);
  background-repeat: no-repeat;
  background-position: center;
}

.dish1:hover .card-animation-div,
.dish2:hover .card-animation-div,
.dish3:hover .card-animation-div {
  right: 0;
  height: 120px;
  width: 60px;
  animation-name: cardAnimation;
  transition-duration: 0.5s;
  z-index: 2;
  animation-delay: 0s;
  animation: checked 500ms ease forwards;
}

.dish-price {
  transition: transform 0.5s ease-in-out;
}

.dish-price {
  position: relative;
  z-index: 2;
  background-color: white;
}

.dish-spec {
  position: relative;
  z-index: 1;
}

.dish1:hover .dish-price,
.dish2:hover .dish-price,
.dish3:hover .dish-price {
  transform: translateX(-65px);
}

.dish1:hover .dish-spec,
.dish2:hover .dish-spec,
.dish3:hover .dish-spec {
  width: calc(100% - 150px);
  transition: all 0.8s ease-in-out 10s;
}

@media (min-width: 1200px) {
  .dish1:hover .dish-price,
  .dish2:hover .dish-price,
  .dish3:hover .dish-price {
    transform: translateX(-50px);
  }
}
@media (min-width: 1440px) {
  .dish1:hover .dish-price,
  .dish2:hover .dish-price,
  .dish3:hover .dish-price {
    transform: translateX(-50px);
  }
}
@media (max-width: 768px) {
  .dish1:hover .dish-price,
  .dish2:hover .dish-price,
  .dish3:hover .dish-price {
    transform: translateX(-50px);
  }
}
@media (max-width: 500px) {
  .dish1:hover .dish-price,
  .dish2:hover .dish-price,
  .dish3:hover .dish-price {
    transform: translateX(-65px);
  }
  .dish-price {
    text-overflow: clip;
  }
}
.fa-circle-check {
  color: rgb(255, 255, 255);
  font-size: 22px;
  z-index: 2;
  background-color: #99e2d0;
  height: 22px;
  width: 22px;
  margin: 20px;
  margin-top: 50px;
}

.pink-button {
  transition: 0.2s;
}
.pink-button:hover {
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.15) 0%, rgba(255, 255, 255, 0.15) 100%), linear-gradient(201deg, #9356dc -5.2%, #ff79da 110.74%);
  box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.35);
}

.fa-arrow-left {
  transition: 0.2s;
}
.fa-arrow-left:hover {
  rotate: 360deg;
}

.fa-arrow-left {
  transition: 0.2s;
}
.fa-arrow-left:hover {
  transform: scale(1.3);
}

/*# sourceMappingURL=style.css.map */
